.floorplan {
    width: 1200px;
    margin: 0 auto;
    #floorplan-map {
        position: relative;
        .floorplan-sections {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            @media (max-width: $container-lg) {
                display:none;
            }
            polygon {
                @include transition(fill .5s ease);
                fill: transparent;
                cursor: pointer;
                z-index: 99;
                &:hover,
                &.active {
                    fill: RGBA(117, 178, 84, 0.6);
                }
            }
            #area_4 {
                display: none;
                &.active {
                    display: block !important;
                }
            }
        }
    }
    #floorplan-map #overlay {
        @include transition(all .5s ease);
        opacity: 0;
        position: absolute;
        max-width: 350px;
        background-color: white;
        border-radius: 3px;
        box-shadow: 4px 4px 23px 3px rgba(0,0,0,0.19);
        .overlay-close {
            position: absolute;
            top: -8px;
            right: -6px;
            background-color: RGBA(117, 178, 84);
            color: RGB(242, 242, 242);
            border-radius: 100%;
            padding: 4px 8px;
            cursor: pointer;
        }
        .content {
            @include transition(all .5s ease);
            text-align: center;
            color: RGBA(117, 178, 84, 0.9);
            padding: 1rem;
            &:after {
                content: '';
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid white;
                position: absolute;
                bottom: -10px;
                left: 0;
                right: 0;
                margin: 0 auto;
                display: block;
            }
        }
        @media (max-width: $container-lg) {
            position: static;
            max-width: 100%;
        }
    }
    #floorplan-nav {
      ul {
        margin: 0;
        padding: 0;
        text-align: center;
      }
        ul li {
            transition: all .5s ease;
            display: inline-block;
            margin: 0;
            margin-left: -2px;
            list-style: none;
            color: #fff;
            padding: 10px;
            background-color: $gray-dark;
            border-bottom: 2px solid black;
            font-size: 11px;
            cursor: pointer;
            &:hover {
                background-color: black;
            }
            &.active {
                border-bottom: 2px solid $brand-secondary;
                background-color: black;
            }
            &:before {
                display: none;
            }
        }
        ul:after {
            content: '';
            display: block;
            clear: both;
        }
        @media (max-width: $container-lg) {
            ul {
                margin-left: 0;
            }
            ul li {
                display: block;
                border-right: 0;
            }
        }
    }
}