$brand-primary: #4D5053;
$brand-secondary: #75B254;
$gray-dark: #333333;
$gray: #7F8081;
$gray-light: #F6F6F6;
$white: #ffffff;
$error: $brand-primary;
$success: #819E5C;
$error: #ae0000;
$asparagus: #819E5C;

$container-lg: 1200px;